body{
  background-color: blue;
}

#wrapper{
  margin: 42px;
  padding: 20px;
  border: 5px black solid;
}

p{
  border: 2px green dashed;
  font color: red;
  padding: 5px;
}

img{
  border: 2px yellow dashed;
  padding: 20px;
}
