body{
  background-color: white;
}

#wrapper{
  background-color: green;
  border: 4px black dotted;
  padding: 30px;
}

.redPara{
  color: red;
}

.greenPara{
  color: darkgreen;
}

.purplePara{
  color: purple;
}
