body{
  background-color: blue;
  font color: red;
}

#wrapper{
  margin: 35px;
  padding: 15px;
  border: 5px black solid;
}

p{
  border: 4px green dashed;
}

img{
  border: 2px yellow dashed;
  padding: 10px;
}
